    /* classes */
    .content_frame {
        /* background-color: #CDFFFF; */  /* cyan */
        /* background-color: #ff5900; */  /* Big Orange (approximate) */
        background-color: #EEEEEE;        /* light gray */
    }
    .cci {
        margin-left: 5px;
        width: 30%;
        height: 150px;
    }
    .full_page {
        /* background-color: #CDFFFF; */
        /* background: url('bggrad2.jpg') repeat-x; */
        background: #fff url(img/homeBG.gif) 0 0 repeat-x;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 11px;
        min-width:900px;
    }
    .nav {
        background-color: white;
    }
    .right {
        float: right;
    }
    .page_title {
        font-family: "Arial Black", Gadget, sans-serif;
        color: white;
        /* background-color: #061b38; */
        padding-top: 12px;
        padding-bottom: 0px;
        padding-left: 10px;
        width: 90%;
    }
    .menu {
        background: url("img/navBG.gif") repeat-x scroll 0 7px transparent;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        height: 28px;
        padding-top: 7px;
        position: relative;
        /* width: 899px; */
        width: 100%;
        z-index: 500;
    }
    .menu ul {
        list-style-type: none;
    }
    .menu ul li.menu_item {
        width: 147px;
        background: url(img/navBG.gif) 0 0 repeat-x;
    }
    .menu ul li.menu_item:hover {
        background: url(img/navBG.gif) repeat-x;
        background-position: 0px -28px;
    }
    .menu ul li.current_menu_item {
        width: 147px;
        background: url(img/navBG.gif) repeat-x;
        background-position: 0px -56px;
    }
    .menu ul li.menu_item.current_menu_parent  {
        width:147.9px;
        background: url(img/navBG.gif) repeat-x;
        background-position: 0px -56px;
    }
    .menu ul li.menu_item.current_menu_parent:hover  {
        width:147.9px;
        background: url(img/navBG.gif) repeat-x;
        background-position: 0px -28px;
    }
    .menu ul li.menu_item.current_menu_parent ul li.menu_item a {
        background-image:none;
        background: #d3691a;
    }
    .menu ul li.menu_item.current_menu_parent ul li.menu_item a:hover {
        background-image:none;
        color: #fff; 
        background: #bb4a00;
    }
    .menu ul li.current_menu_item:hover {
        background: url(img/navBG.gif) repeat-x;
        background-position: 0px -28px;
    }
    .menu li { 
        background: url(img/navBG.gif) 0 0 repeat-x; 
        background-color: #fff; 
        float: left; 
        list-style-type: none;
        position: relative; 
        height: 28px;
        margin-right: 1px; 
        border-left: 1px solid #d3691a;
    }
    .menu a:link, a:visited { 
        display: block; 
        color: #fff; 
        text-align: center; 
        padding-top: 6px; 
        padding-left: 32px;
        padding-right: 32px;
        text-decoration:none; 
        height:22px; 
    }
    .menu a:hover { 
        text-decoration: none; 
    }
    .menu li:hover ul, .menu li.over ul { 
        padding: 0px; 
        display: block; 
    }
    .menu li li { 
        height: auto; 
        line-height: normal; 
        background-image: none; 
        list-style-type:none; 
        z-index:500;  
    }
    .menu li li a { 
        text-align:left; 
        padding: 6px 10px; 
        display: block; 
        height: 100%; 
        color: #fff; 
        text-decoration: none; 
        font-size: 11px; 
        background: #d3691a;  
    }
    .menu li li a:hover { 
        color: #fff; 
        background: #bb4a00; 
    }
    .menu li ul { 
        display:none; 
        position: absolute; 
        top: 28px; 
        left: -1px; 
        z-index:1000;  
    } 
    .menu li > ul { top: 28px; left: -1px; z-index: 500; } 

    .simple_list a:link {
        color: blue;
    }
    .simple_list a:visited {
        color: purple;
    }
    .version {
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: small;
        margin-right: 5%;
        text-align: right;
    }
    /*
    ** The image small-scroll.png is a resized version of 
    ** http://www.clker.com/clipart-scroll-3.html. The website says its
    ** images are in the public domain.
    */
    .year_list ul {
        /* list-style-image: url('small-scroll.png'); */
        list-style-type: circle;
    }
    .publist h3 {
        margin-top: -1em;
        margin-bottom: -1em;
    }
    .publist h4 {
        padding-bottom: .5em;
    }
    .publist li {
        padding-top: .6em;
        padding-bottom: .6em;
    }
    .publist dt {
        padding-top: .6em;
    }
    .publist dd {
        padding-bottom: .6em;
    }
    .main {
       width: 95%;
       border: 2px solid black;
    }
    .member {
       width: 33%;
       height: 200px;
       border: 2px solid black;
       border-radius: 10px;
       padding-left: 5px;
    }
    .networking {
       background-color: white;
       width: 100%;
    }
    .rounded {
       border-radius: 10px;
    }

    /* obsolete classes -- no longer used in the html -----------------------------
    .banner {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .bordered {
        border: 2px solid black;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 10px;
    }
    .climate {
        width: 50%;
    } 
    .contact {
        width: 100%;
    }
    .contact td {
        vertical-align: top;
    }
    .esg {
        width: 100%;
    } 
    .iframe {
        background-color: white;
    }
    .notes {
        font-style: italic;
    }
    .push_down {
       margin-top: 50px;
    }
    .history {
       background-color: yellow;
    }
    .hpss {
       background-color: white;
       padding-right: 15px;
       border-radius: 10px;
    }
    .noaa {
       background-color: white;
    }
    .olcf {
       background-color: black;
    }
    .outlink {
       height: 60px;
       width: 300px;
       text-align: center;
    }
    .vmiddle {
       vertical-align: middle;
    }
    .sns {
       /* background-color: #000046; */
       background-color: #0062AC;
    }
    .spaced_low {
       width: 33%;
       height: 40px;
       text-align: center;
       vertical-align: center;
       background-color: #00e0e0;
       border-radius: 10px;
    }
    .spaced {
       width: 33%;
       height: 100px;
       text-align: center;
       vertical-align: center;
    }
    ---------------------------------------------------------------- */

    /* tags */
    h2 {
        font-family: "Arial Black", Gadget, sans-serif;
    }
    h3 {
        font-family: "Arial Black", Gadget, sans-serif;
        padding-bottom: 0px;
    }
    h4 {
        font-family: "Arial Black", Gadget, sans-serif;
        margin-top: -5px;
        margin-bottom: -10px;
    }
    h5 {
        font-family: "Arial Black", Gadget, sans-serif;
        padding-bottom: 0px;
    }
    table tr td {
    }
