/* CSS RESET */
html{color:#000;background:#F0F0F0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,
input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{
   font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select { *font-size:100%; }
.clear { clear:both; display: block; visibility: hidden;}a:hover, .sidebar a:hover, .leftContent a:hover { color: #000000; }



body {
    /* background-color: #000fff; */
    height: 70%;
    font-family: 'Arial';
    font-size: 12px;
    line-height: 1.75em;
}
.cci {
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 1em;
    width: 30%;
    height: 20%;
}
#header {
    background: url("images/header-tile2.png") repeat-x 
                scroll left -9px #F0F0F0;
    height: 146px;
    margin: 0;
    padding: 0;
    width: 100%;
}
#hbanner {
    width: 968px; margin: 0px auto 0px auto; height:97px; padding:0;
}

html {
    height: 100%;
}

#logo {
    width: 323px;
    float: left;
    padding-top: 10px;
    overflow: hidden;
    display: inline;
    margin-left: 0;
}
#page_title {
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
    font-size: x-large;
    text-align: center;
    margin-right: 15%;
    vertical-align: middle;
}
#page_title h1 {
    padding-bottom: 30px;
}
.title {
    color: #242424;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 28px;
    letter-spacing: -0.05em;
    line-height: 38px;
    padding: 5px 0;
}
.box-top {
    background: url("images/cat-section-shade.png") no-repeat scroll 0 0 transparent;
    height: 8px;
    margin-top: 8px;
    width: 648px;
    margin-left: auto;
    margin-right: auto;
}
.box-bottom {
    background: url("images/cat-section-shade.png") no-repeat scroll 0 -8px transparent;
    height: 8px;
    width: 648px;
    margin-left: auto;
    margin-right: auto;
}
.end-space {
    padding-bottom: 1em;
}
.page_content {
    background-color: white;
    background: url("images/cat-section-vertical-shade.png") repeat-y scroll 0 0 #FFFFFF;
    padding: 0 14px 4px;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
}
.page_content h2 {
    color: #242424;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 28px;
    letter-spacing: -0.05em;
    line-height: 38px;
    padding: 5px 0;
}
.page_content h3 {
    color: #242424;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 14px;
    letter-spacing: -0.05em;
    font-weight: bold;
    padding: 5px 0;
}
.page_content h4 {
    padding-bottom: .75em;
}
.page_content dt {
    font-weight: bold;
}
.page_content dd {
    margin-left: 2em;
}
.page_content li {
    list-style: disc outside none;
    position: relative;
    left: 2em;
    width: 580px;
    padding-bottom: .5em;
}
.page_content p {
    margin-top: 1em;
}
.page_content strong {
    font-weight: bold;
}
.page_content em {
    font-style: italic;
}
.navbar {
    font-family: 'Arial';
    font-size: small;
    width: 80%;
    background: transparent;
    margin:16px auto 0;
    text-transform:uppercase;
    height:33px;
    padding:0;
    width:968px;
}
.nav {
    list-style: none;
    font-weight: bold;
    /* margin-bottom: 10px; */
}
.nav ul {
    list-style: none;
    position: absolute;
    z-index: 1;
    left: -9999px;
}
.nav li {
    float: left;
    position: relative;
    margin-left: 1px;
}
.nav a {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 19px;
    padding-left: 19px;
    color: #fff;
    background: #03875e;
    background: -moz-linear-gradient(top, #03875e 0%, #05523a 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#03875e), color-stop(80%,#05523a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #03875e 0%,#05523a 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #03875e 0%,#05523a 80%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #03875e 0%,#05523a 80%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03875e', endColorstr='#05523a',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #03875e 0%,#05523a 80%); /* W3C */
    text-decoration: none;
}
.nav a:hover {
    color: #fff;
    background: #016db9;
    text-decoration: none;
}
.current_page {
    background-color: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(80%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 80%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 80%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #eeeeee 0%,#eeeeee 80%); /* W3C */
    color: #03875e;
}
.nav a.current_page {
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(80%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 80%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 80%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #eeeeee 0%,#eeeeee 80%); /* W3C */
    color: #03875e;
}
.nav ul li {
    float: none;
}
.nav ul a {
    white-space: nowrap;
}
.nav li:hover ul {
    left: -1px;
}
.nav li:hover a {
    /* this sets the backgound color for the menu bar when hovering */
    background: #05523a;
    color: #fff;
    text-decoration: none;
}
.nav li:hover ul a {
    /* this sets the background of the dropdown menus */
    display: block;
    background: #05523a;
    text-decoration: none;
    text-transform: none;
    border-top: 1px solid #006243;
    padding: 2px 10px 2px 18px;
}
.nav li:hover ul li {
    padding: 0px;
    text-transform: none;
}
.nav li:hover ul li a:hover {
    /* this sets the background color of dropdown menu items when hovered */
    background: #004932;
}
.navfill {
    /* this provides the filler at the right end of the menu bar */
    background: -moz-linear-gradient(top, #03875e 0%, #05523a 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#03875e), color-stop(80%,#05523a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #03875e 0%,#05523a 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #03875e 0%,#05523a 80%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #03875e 0%,#05523a 80%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03875e', endColorstr='#05523a',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #03875e 0%,#05523a 80%); /* W3C */
    text-decoration: none;
    height: 2.5em;
    width: 14em;
}
.right {
    float: right;
}
.version {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: small;
    margin-right: 5%;
    text-align: right;
    padding-top: 100px;
}
.year_list ul {
    list-style-type: circle;
}
.networking {
   background-color: white;
   width: 100%;
}
.rounded {
   border-radius: 10px;
}
/* tags */
h2 {
    font-family: "Arial Black", Gadget, sans-serif;
}
h3 {
    font-family: "Arial Black", Gadget, sans-serif;
    padding-bottom: 0px;
}
h4 {
    font-family: "Arial Black", Gadget, sans-serif;
    margin-top: -5px;
    margin-bottom: -10px;
}
h5 {
    font-family: "Arial Black", Gadget, sans-serif;
    padding-bottom: 0px;
}
table tr td {
}
#vlayout {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}
